h1{
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 20px;
}
ul li a{
    text-decoration: none;
    color: rgb(3, 105, 20);
}

#firstItem{
    background-color: salmon;
}


.listItems{
    background-color: grey;
}

body{
    background-color: rgb(123, 102, 240);
}